<div class="module" ng-if="GSQ !== null">
    <div class="moduleBody">
        <div class="headerQuoteContainer">
            <div class="sectionQuote nasdaqChange">
                <div class="sectionQuoteDetail">
                    <span class="nasdaqChangeHeader">{{GSQ.t}} on {{GSQ.e}}</span>
                    <br class="clear"><br class="clear">
                    <span style="font-size: 23px;">{{GSQ.l_cur | currency : symbol : 3}}</span><span>USD</span><br>
                    <span class="nasdaqChangeTime">{{GSQ.lt_dts | date:'dd-MM-yyyy'}}</span>
                </div>
            </div>
            <div class="sectionQuote priceChange">
                <div class="sectionQuoteDetail">
                    <span class="priceDetail">Change	(% chg)</span>
                    <br class="clear"><br class="clear">
                                        <span class="valueContent">
                                            <span class="neg">{{GSQ.c | number : 4}}</span>
                                            <span class="valueContentPercent">
                                                <span class="neg">({{GSQ.cp | number : 4}})</span>
                                            </span>
                                        </span>
                </div>
            </div>
            <div class="sectionQuote">
                <div class="sectionQuoteDetail">
                    <span>Open</span>
                    <br class="clear">
                    <span>{{GSQ.Open | number}}</span>
                </div>
            </div>
            <div class="sectionQuote">
                <div class="sectionQuoteDetailTop">
                    <span>Day's High</span>
                    <br class="clear">
                    <span class="sectionQuoteDetailHigh">{{GSQ.High | number}}</span>
                </div>
                <div class="sectionQuoteDetail">
                    <span>Day's Low</span>
                    <br class="clear">
                    <span class="sectionQuoteDetailLow">{{GSQ.Low | number}}</span>
                </div>
            </div>
            <div class="sectionQuote">
                <div class="sectionQuoteDetailTop">
                    <span>Volume</span>
                    <br class="clear">
                    <span>{{GSQ.Volume | number}}</span>
                </div>
                <div class="sectionQuoteDetail">
                    <span>Market Cap</span>
                    <br class="clear">
                    <span>{{GSQ.MarketCap | number}}</span>
                </div>
            </div>
            <div class="sectionQuote">
                <div class="sectionQuoteDetailTop">
                    <span>Change YTD</span>
                    <br class="clear">
                    <span class="sectionQuoteDetailHigh">{{GSQ.ChangeYTD | number}}</span>
                </div>
                <div class="sectionQuoteDetail">
                    <span>Change % YTD</span>
                    <br class="clear">
                    <span class="sectionQuoteDetailLow">{{GSQ.ChangePercentYTD | number : 4}}</span>
                </div>
            </div>
            <br class="clear">
        </div>
    </div>
</div>